.weather-icon {
    width: 356px;
    height: 350px;
    background-size: cover;
    margin-bottom: 0px;
}
  body {
    background-image: url("https://image.geo.de/30138026/t/Kt/v3/w1440/r0/-/lenzen-geo-tag-der-natur-jpg--78476-.jpg");
    background-size: cover;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.6);
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 50px;
    text-align: center;
    object-position: center;
    margin: 0 auto;
  }
  
  .temperature {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .feuchtigkeit {
    color: black;
    font-family: sans-serif;
    font-size: 1.2rem;
  }
  
  .location {
    font-size: 1.5rem;
    color: #333333;
  }
  
  #submit-button {
    color: white;
    background-color: black;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #sumbit-button:hover {
    background-color: #ccc;
  }
  
  #title {
    text-align: center;
  }
  
  .a {
    opacity: 0;
  }
  
  input {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    font-size: 16px;
    color: #333;
  }
  
  #label {
    font-family: sans-serif;
  }
  
  .weather-icon {
    width: 250px;
    height: 250px;
    margin-bottom: 0px;
}